---
const {
  items = [],
} = Astro.props;
---

<div class="faq-accordion">
  {items.map((item) => (
    <details>
      <summary>{item.question}</summary>
      <p>{item.answer}</p>
    </details>
  ))}
</div>
