---
const {
  title,
  text,
  href,
  meta,
} = Astro.props;

const Element = href ? "a" : "article";
---

<Element class:list={["theme-card", href ? "theme-card-link" : "theme-card-static"]} href={href}>
  {meta && <p class="card-meta">{meta}</p>}
  <h3>{title}</h3>
  <p>{text}</p>
</Element>
